.foot-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #e0f2fe;
  
  flex-wrap: wrap;
}

.foot-section img.logo {
  width: 130px;
  height: 128px;
  position: relative;
  top: -25px;
}

.foot-section h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -40px;
}
.social-icons a {
  padding: 25px;
  padding-top: 0;
  position: relative;
  top: -30px;
}
.social-icons img {
  width: 30px;
  height: auto;
  padding-bottom: 20px;
}
 .developer-name {
      display: flex;
      position: fixed;
      bottom: 20px;
      right: 0;
    }
    .developer-name p {
      text-align: right;
      color: rgb(152, 149, 149);
      font-size: 12px;
      position:fixed;
      right: 0;
      
    }
    .developer-name h5 {
      margin: 0;
      position: fixed;
      left: 5px;
      color: rgb(152, 149, 149);
      font-weight: lighter;
    }